.vscode/settings.json
boards/terasic/de10lite/build/de10lite
boards/terasic/de10lite/build/obj_dir/vdb__Dpi.h
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper___024root__DepSet_h0ea48158__0__Slow.cpp
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper___024root__DepSet_h0ea48158__0.cpp
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper___024root__DepSet_ha1181855__0__Slow.cpp
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper___024root__DepSet_ha1181855__0.cpp
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper___024root__Slow.cpp
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper___024root.h
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper__ALL.a
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper__ALL.cpp
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper__ALL.d
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper__ALL.o
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper__Dpi_Export__0.cpp
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper__Dpi.cpp
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper__Dpi.h
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper__Syms.cpp
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper__Syms.h
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper__Trace__0__Slow.cpp
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper__Trace__0.cpp
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper__ver.d
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper__verFiles.dat
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper_classes.mk
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper.cpp
boards/terasic/de10lite/build/obj_dir/Vde10lite_verilator_wrapper.h
/.vscode
